.description__text {
    width: 80%;
    margin: 37px 0 0;
    font-family: gothamPro;
    font-size: 1.1rem;
    line-height: 1.4rem;
    color: #222;
}

@media screen and (min-width: 768px) and (max-width: 1050px) {
    .description__text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .description__text {
        margin: 48px 0 0;
        width: 98%;
        font-size: 1rem;
    }
}