.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label::before{
    content: "";
    display: inline-block;
    
    height: 17px;
    width: 17px;
    
    border: 1px solid; 
    border-radius: 2px;
}

.checkbox label::after {
    content: "";
    display: inline-block;
    height: 7px;
    width: 10px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
}

.checkbox label {
    position: relative;
   }
   .checkbox label::before,
   .checkbox label::after {
    position: absolute;
   }
   /*Внешний блок*/
   .checkbox label::before {
    top: -10px;
    left: -15px;
   }
   /*Галка*/
   .checkbox label::after {
    left: -11px;
    top: -7px;

}

/*Прячем галку по умолчанию*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
   }
   /*Показываем галку по состоянию checked*/
   .checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Добавляем фокус к внешнему блоку поддельного чекбокса*/
.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
   }