.search__button {
    background-color: #ff3c3c;
    border: 1px solid #ff3c3c;
    border-radius: 3px;
    
    width: 27%;
    height: 100%;
    font-family: gothamPro;
    font-weight: 100;
    font-size: 1.1rem;
    line-height: 1.1rem;
    text-align: center;
    color: white;
    display: block;
    cursor: pointer;
}

.search__button:hover {
    background-color:#EC1C35;
    cursor: pointer;
}

.search__button:active,
.search__button:focus {
    background-color: #EC1C35;
    cursor: pointer;
    outline: aqua;
    border: 1px solid aqua;
}

@media screen and (min-width: 768px) and (max-width: 1050px) {
    .search__button {
        width: 245px;
        margin: 23px 0 0 25px;
        height: 48px;
    }
}

@media screen and (max-width: 767px) {
    .search__button {
        margin: 34px 0 51px;
        width: 335px;
        height: 48px;
    }
}