.description__item {
    margin: 0 0 48px 0;
    display: flex;
}

.description__item:nth-of-type(3) {
    margin: 0;
}

@media screen and (max-width: 767px) {
    .description__item {
        margin: 0 0 60px 0;
        display: flex;
        flex-direction: column;
    }
    
    .description__item:nth-of-type(3) {
        margin: 0;
    }
}