@import url(./__copyright/footer__copyright.css);
@import url(./__link/footer__link.css);
@import url(./__container/footer__container.css);
@import url(./__logo/footer__logo.css);

.footer {
    width: 100%;
    background-color: #E5E5E5;
    color: #222;
    font-family: josefinsansLight;
}

/* @media screen and (min-width: 768px) and (max-width: 850px) {
    .footer {
        min-height: 64px;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        max-height: 320px;
        position: relative;
    }
} */
