.cause__button {
    width: 245px;
    height: 48px;
    margin: 0 auto 85px;
    background: #386AEA;
    color: #fff;
    font-family: gothamPro;
    font-size: 1.1rem;
    line-height: 1.1rem;
    border: 1px solid #386AEA
}

.cause__button:hover {
    background-color:#1852E8;
    cursor: pointer;
}

.cause__button:active,
.cause__button:focus {
    background-color: #1852E8;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1050px) {
    .cause__button {
        margin: 75px auto 96px;
    }
    
}

@media screen and (max-width: 767px) {
    .cause__button {
        margin: 60px auto 59px;
    }
}