.search__subtitle {
    margin: 131px 0 0;
    width: 40%;
    font-family: gothamProLight;
    font-weight: 100;
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1050px) {
    .search__subtitle {
        margin: 154px 0 0;
        width: calc(100% - 40%);
    }
}

@media screen and (max-width: 767px) {
    .search__subtitle {
        display: none;
    }
}