@import url(./_link/search__content_link.css);

.search__content {
    margin: 0 0 0 10px;
    font-size: 0.9rem;
}

@media screen and (max-width: 767px) {
    .search__content {
        color: #222;
        margin: 0;
    }
}